
<h1>Add an Employee Mongo</h1>

<form action="/employeesMongo/add" method="POST">
    <label>eid = </label>
    <input type="text" name="_id">
    <br>
    <label>Phone = </label>
    <input type="text" name="phone">
    <br>
    <label>Email = </label>
    <input type="text" name="email">
    <br>
    <button type="Add" value="OK">Add</button>
</form>
<a href="/employeesMongo">Back</a>